.bryan2{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 6px solid rgb(0, 238, 255);
}

.bryan{
    text-align: center;
}

body{
    background-color: rgb(36, 36, 36);
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.victim2{
    align-content: space-between;
}
.moser{
    font-size: 10;
    margin: 0;
    height: 27vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.size{
    font-size: 20px;
    justify-content: center;
    align-items: center;
}